{% extends "registration.html" %} {% load staticfiles %} {% block content %}
<div class="registration__bg">

    <form action="." method="post" class="registration registration--register">
        <div class="registration--logo">
            <a href="/"><img src="{% static 'img/cocoon.png' %}" /></a>
        </div>

        <div class="registration__first-half">
            {% csrf_token%} {{ form.as_p }}
            <input type="submit" value="Create Account" class="registration__action" />
            <div class="registration__footer">
                or <a href="{% url 'auth_login' %}">login</a>
            </div>
        </div>

        <div class="registration__second-half">
            {% if welcome_message %} {{ welcome_message|safe }} {% else %}
            <p>Cocoon Box is an integrated set of tools for building forms and collecting interview responses. It is built by the Harvard Humanitarian Initiative for easy and reliable use in difficult field settings, such as humanitarian emergencies or
                post-conflict environments.</p>
            {% endif %}
        </div>
        
        <div style="clear:both;"></div>
    </form>
</div>


{% endblock %}
